[user]
	name = Philip Reinhart
	email = 74872363+philiprein@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA75bXR+AkaEMU8swhLq6mvErvXYX+e/HygVZ+NZLFPN
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true